.App {
    text-align: center;
}



.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover; /* fill yerine cover kullanılabilir */
    border: 1px solid #ccc;
    border-bottom: none;
}

.card__preview-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Satır sayısını 1'den 2'ye çıkardım, isteğinize göre ayarlayabilirsiniz */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px; /* İstediğiniz boşluk miktarına göre ayarlayabilirsiniz */
}
.card:hover {
    transform: scale(1.05); /* Kartın boyutunu 1.05 katına çıkarır, istediğiniz değeri kullanabilirsiniz */
    transition: transform 0.3s ease; /* Animasyon süresi ve geçiş efekti */
    border-color: #000;

}





