.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.post-group {


}

.post {
    background-color: purple;
}

.edit-pen {
    cursor: pointer;
    border: solid 1px black;
}



.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: fill;
}

.card__preview-text {

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.detail-image {
    width: 40em;
    height: 20em;

}

.navbar-image{
    width: 60px;
    height: 60px;
}